{% for post in latest_posts %}
    <a href="{{ post.get_absolute_url }}">
        <div class="item d-flex align-items-center">
            <div class="image"><img src="http://localhost:8000/media/{{ post.image }}" alt="..."
                                    class="img-fluid"></div>
            <div class="title"><strong>{{ post.title }}</strong>
                <div class="d-flex align-items-center">
                    <div class="views"><i class="icon-eye"></i>{{ post.publish }}</div>
                    <div class="comments"><i class="icon-comment"></i>{{ post.comments.count }}</div>
                </div>
            </div>
        </div>
    </a>
{% endfor %}


