{% extends "blog/base.html" %}
{% load static %}

{% block title %}Search{% endblock %}

{% block content %}
    <main class="posts-listing col-lg-8">
        <div class="container">
            <div class="row">

                {% for post in results %}

                    <div class="post col-xl-6">
                        <div class="post-thumbnail"><a href="{{ post.get_absolute_url }}"><img
                                src="http://localhost:8000{{ post.image.url }}"
                                alt="..." class="img-fluid"></a>
                        </div>
                        <div class="post-details">
                            <div class="post-meta d-flex">
                                {% for tag in post.tags.all %}
                                    <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
                                        <div class="meta-last">{{ tag.name }}  </div>
                                    </a>
                                    {% if not forloop.last %} - {% endif %}
                                {% endfor %}
                            </div>
                            <a href="{{ post.get_absolute_url }}">
                                <h3 class="h4">{{ post.title }}</h3></a>
                            <p class="text-muted">{{ post.body|truncatewords_html:30 }}</p>
                            <footer class="post-footer d-flex align-items-center"><a href="#"
                                                                                     class="author d-flex align-items-center flex-wrap">
                                <div class="title"><span>{{ post.author }}</span></div>
                            </a>
                                <div class="date"><i class="icon-clock"></i>{{ post.publish }}</div>
                                <div class="comments meta-last"><i class="icon-comment"></i>{{ post.comments.count }}
                                </div>
                            </footer>
                        </div>
                    </div>
                {% empty %}
                    <div class="post col-xl-6">
                        <p>Không tìm thấy bài viết nào có tiêu đề chứa "{{ query }}"</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
